# PostgreSQL connection settings
PG_HOST=localHost
PG_PORT=5432
PG_DATABASE=fintech
PG_USER=fintech
PG_PASSWORD=fintech_pass

# Generacion de datos
NUM_CLIENTES=1000
NUM_TRANSACCIONES=50000
RADOM_SEED=42
